body{
    color: white;
    background-color: rgb(240, 75, 75);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
color: rgb(47, 0, 255);
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}
